<div class="row">
  <div class="col-sm-4 col-sm-offset-4" style="margin-top: 10%; margin-bottom: 10%;">
    <div class="col-sm-8 col-sm-offset-2">
      <form>
        <mat-form-field class="width-100">
          <input matInput placeholder="Username" value="">
        </mat-form-field>

        <mat-form-field class="width-100">
          <input matInput placeholder="Password" value="" />
        </mat-form-field>

        <button mat-stroked-button class="white pull-right width-100" style="background-color:#438EB9;">Login</button>
      </form>
    </div>
  </div>
</div>