<div class="row">
  <div class="col-sm-4 col-sm-offset-4 form-border" style="margin-top: 10%; margin-bottom: 10%;">
    <div class="col-sm-10 col-sm-offset-1" style="margin-bottom:10px;">
      <form [formGroup]="myForm" (ngSubmit)="OnSubmit()">
        <h3 class="center">Login</h3>
        <mat-divider></mat-divider>
        <mat-form-field class="width-100">
          <input matInput placeholder="Username" formControlName="Username">
        </mat-form-field>

        <mat-form-field class="width-100">
          <input matInput placeholder="Password" formControlName="Password" />
        </mat-form-field>

        <button mat-stroked-button class="white pull-right width-100" style="background-color:#438EB9;">Login</button>
      </form>
    </div>
  </div>
</div>