<div id="navbar" class="navbar navbar-default ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
      <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
        <span class="sr-only">Toggle sidebar</span>

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>
      </button>

      <div class="navbar-header pull-left">
        <a href="index.html" class="navbar-brand">
          <small>
            <i class="fa fa-leaf"></i>
            Ace Admin
          </small>
        </a>
      </div>

      <div class="navbar-buttons navbar-header pull-right" role="navigation">
        <ul class="nav ace-nav" style="">
          <li class="purple">
            <a href="#">
              <i class="ace-icon fa fa-user icon-animated-vertical"></i>
              Register
            </a>
          </li>

          <li class="green">
            <a href="#">
                <i class="ace-icon fa fa-sign-in icon-animated-vertical"></i>
              Login
            </a>
          </li>
          
          <li class="grey">
              <a href="#">
                <i class="ace-icon fa fa-lock icon-animated-vertical"></i>
                Forget Password
              </a>
            </li>
        </ul>
      </div>
    </div><!-- /.navbar-container -->
  </div>